{
  "openai": {
    "secret_key": "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"
  },
  "wechat": {
    "name": "chatgpt-bot",
    "general_chat_message": {
      "history_size": 20,
      "default_system_prompt": "You are ChatGPT, a large language model trained by OpenAI."
    },
  }
}